tml,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot{
    height: 80px;
    width: 80px;
    background-color: navajowhite;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    opacity:0.8;
    border-radius: 40%;
    position: fixed;
    left: 0;
    top: 0;

}
