tml,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quran{
   
    background-color: #ffeecc;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 150px;
   
    margin-top: 200px;
    
    transition: tranform 0.8s ease-in-out;

}
.laptop{
   
    background-color: #ffeecc;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
    transition: tranform 0.8s ease-in-out;


}

.samrin{
   
    background-color: #ffeecc;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 200px;
    
    transition: tranform 0.8s ease-in-out;

}

.quran:hover{
    background-color: lightblue;
    transform: scale(1.2);
}
.samrin:hover{
    background-color: lightblue;
    transform: scale(1.2);
}
.laptop:hover{
    background-color: lightblue;
    transform: scale(1.2);
}
